.sl73_gcc485/
StRoot/StPicoEASkimmer/.consign
temp_gccflags.c
.vscode/

filelists/2017_pp_500GeV_picoDst_local.list

*.root
StRoot/StPicoEvent/.consign
submit/LocalSources.zip
submit/PicoEASkimC3E3936D57D556B76A8DB18CF57B225D.dataset
submit/PicoEASkimC3E3936D57D556B76A8DB18CF57B225D.session.xml
submit/LocalSources.package/runlist2017.txt
submit/LocalSources.package/runPicoEASkim.C
submit/LocalSources.package/StRoot/StPicoEASkimmer/.consign
submit/LocalSources.package/StRoot/StPicoEASkimmer/StPicoEASkimmer.cxx
submit/LocalSources.package/StRoot/StPicoEASkimmer/StPicoEASkimmer.h
submit/LocalSources.package/StRoot/StPicoEvent/.consign
submit/LocalSources.package/StRoot/StPicoEvent/Makefile
submit/LocalSources.package/StRoot/StPicoEvent/PhysicalConstants.h
submit/LocalSources.package/StRoot/StPicoEvent/picodst_env.sh
submit/LocalSources.package/StRoot/StPicoEvent/README.md
submit/LocalSources.package/StRoot/StPicoEvent/StPicoArrays.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoArrays.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoBbcHit.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoBbcHit.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoBEmcPidTraits.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoBEmcPidTraits.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoBEmcSmdEHit.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoBEmcSmdEHit.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoBEmcSmdPHit.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoBEmcSmdPHit.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoBTofHit.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoBTofHit.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoBTofPidTraits.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoBTofPidTraits.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoBTowHit.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoBTowHit.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoCommon.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoCommon.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoDst.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoDst.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoDstLinkDef.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoDstReader.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoDstReader.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoEmcTrigger.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoEmcTrigger.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoEpdHit.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoEpdHit.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoETofHit.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoETofHit.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoETofPidTraits.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoETofPidTraits.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoEvent.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoEvent.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoFmsHit.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoFmsHit.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoHelix.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoHelix.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoMcTrack.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoMcTrack.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoMcVertex.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoMcVertex.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoMessMgr.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoMtdHit.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoMtdHit.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoMtdPidTraits.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoMtdPidTraits.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoMtdTrigger.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoMtdTrigger.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoPhysicalHelix.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoPhysicalHelix.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoTrack.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoTrack.h
submit/LocalSources.package/StRoot/StPicoEvent/StPicoTrackCovMatrix.cxx
submit/LocalSources.package/StRoot/StPicoEvent/StPicoTrackCovMatrix.h
submit/LocalSources.package/StRoot/StPicoEvent/SystemOfUnits.h
submit/LocalSources.package/StRoot/StPicoEvent/macros/Makefile
submit/LocalSources.package/StRoot/StPicoEvent/macros/picoAnalyzerStandalone.C
submit/LocalSources.package/StRoot/StPicoEvent/macros/PicoDstAnalyzer.C
submit/LocalSources.package/StRoot/StPicoEvent/macros/RunAnalyzer.C
submit/LocalSources.package/StRoot/StPicoEvent/macros/SimplePicoDstAnalyzer.C
StRoot/StPicoEvent/.consign
